.App {
  text-align: center;
  height: 1000px;
}

:root {
  --tile-size: clamp(20rem, 8vw + 10rem, 24rem);
}

@font-face {
  font-family: Futura;
  src: url(fonts/Futura.ttc);
}

h1{
  font-family: Futura;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

* {
  font-family: Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
}

h2{
  font-size: large;
}

h3.card-title{
  font-style: italic;
  text-align: left;
  font-size: larger;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p{
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
}

mark{
  padding: 0pt;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(252, 101, 63);
}

i.bi-heart-fill{
  color: rgb(252, 47, 91);
  margin-left: 2px;
}

button.no-border{
  background-color: white;
  border: none;
}

.center {
  margin: auto;
  width: 100%;
}

.container.center {
  max-width: 1400px;
}


div.explanation-div{
  text-align: left;
}

div.image-tile{
  width: var(--tile-size);
  max-width: 100%;
  margin: 1rem;
}

div.row{
  width: 100%;
}

div.date{
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

div.card{
  outline: none;
  border: none;  
  border-radius: 0;
}

div.card-body{
  padding: 0px;
  outline: none;
}

img.card-img-top{
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}
