.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: Futura;
  src: url(fonts/Futura.ttc);
}

h1{
  font-family: Futura;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

* {
  font-family: Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
}

h2{
  font-size: large;
}

h3.card-title{
  font-style: italic;
  text-align: left;
  font-size: larger;
  width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p{
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
}

div.date{
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

mark{
  padding: 0pt;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(252, 101, 63);
}

.center {
  margin: auto;
  width: 80%;
}

div.explanation-div{
  text-align: left;
}

div.image-tile{
  width: 20em;
  margin: 1rem;
}

i.bi-heart{
  color: red;
  margin-left: 2px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div.row{
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.card{
  outline: none;
  border: none;  
  border-radius: 0;
}

div.card-body{
  padding: 0px;
  outline: none;
}

img.card-img-top{
  width: 20em;
  height: 20em;
  object-fit: cover;
  border-radius: 10px;
}